.settings_section {
  margin-left: 100px;
  display: flex;
  justify-content: space-evenly;
  .settings_history_status {
    .active_button {
      background-color: green;
    }
    .inactive_button {
      background-color: red;
    }
  }
  .settings_theme_status {
    .light_theme {
      background-color: #faebd7;
      color: #000000;
    }
    .dark_theme {
      background-color: #000000;
      color: #ffffff;
    }
  }
  button {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    width: 200px;
    color: #ffffff;
    font-size: 20px;

  }
  button:hover {
    transform: scale(1.1);
  }
}